html {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.list-title {
  color: black;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li del {
  text-decoration: none;
}

.do-list {
  display: flex;
  background-color: rgb(240, 240, 238);
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.list-input {
  border: none;
}

.form-container {
  margin: 10%;
  display: flex;
  width: 80vw;
  flex-direction: column;
  background-color: white;
}

ul li input[type='checkbox']:checked ~ del {
  text-decoration: line-through;
}

del {
  padding-bottom: 5%;
}
